:root{
    --verde:#009900;
    --verdeClaro:#5ab45a;
    --azul:#010066;
    --azulClaro:#010066;
    --blanco: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--blanco);
    color: var(--blanco);
  }

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--azulClaro);
  }
  
  .login-form {
    background-color: var(--blanco);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }  
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--azul);
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: var(--verde);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }